In [1]:
import numpy as np
import pandas as pd

Для формирования ответа нам понадобятся описательные csv-файлы train_desc_images и test_desc_images, которые были получены в "1 images_folder". А также предсказанные метки для тестовых картинок (preds_images.npy)

In [2]:
train_desc_images = pd.read_csv('train_desc_images.csv', sep='\t', index_col=0)

In [3]:
train_desc_images.head()

   product_id  category_id        image  cats_id  labels
0      321012        11937   321012.jpg    11937     197
1      420744        11937   420744.jpg    11937     197
2     1183152        11937  1183152.jpg    11937     197
3      114833        11937   114833.jpg    11937     197
4      812016        11937   812016.jpg    11937     197

In [4]:
# 874 категории 
len(set(train_desc_images['labels'].values))

874

In [5]:
for_group = train_desc_images[['category_id', 'labels']]

In [6]:
grouped = for_group.groupby('labels')

In [7]:
cats_labels = grouped.first() # получили категории товаров по лейблу

In [8]:
cats_labels.head()

        category_id
labels
0              2599
1              2600
2              2601
3              2602
4              2605

In [9]:
preds_images = np.load('preds_images.npy')

In [10]:
preds_images_labels = [] # ответ по размеченному лэйблу
preds_images_cats = [] # ответ по категории товара
for i in range(len(preds_images)):
    label = np.argmax(preds_images[i])
    cat = cats_labels['category_id'][label]
    
    preds_images_labels.append(label)
    preds_images_cats.append(cat)

In [13]:
test_desc_images = pd.read_csv('test_desc_images.csv', sep='\t', index_col=0)

In [15]:
test_desc_images['predicted_category_id'] = preds_images_cats

In [17]:
results = test_desc_images[['product_id', 'predicted_category_id']]

In [19]:
results.tail()

       product_id  predicted_category_id
24987     1914264                  13956
24988     1310569                  14683
24989      978095                  14000
24992      797547                   2737
24995      703835                  14687

In [21]:
# Сохраняем ответ полученный из картинок
results.to_parquet('resultimages.parquet')